button.inline {
    margin: auto;
}

div.inline {
    display: flex;
}

label {
    display: none;
}

form {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

form input {
    height: 25px;
    margin: auto;
}