/* * {
    border: 1px solid black;
} */

h6 {
    text-align: center;
}

img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 25px;
}

button {
    display: block;
    padding: 5px;
    margin: 10px auto;
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;
}

button:hover {
    cursor: pointer;
    background-color: aliceblue;
}

img, .imageHolder:hover {
    cursor: pointer;
}

.galleryContainer {
    max-width: 1200px;
    padding-left: 30px;
    margin: auto;
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    /* align-content: flex-start; */
    gap: 20px 30px;
}

h3 {
    text-align: center;
}


/* tutorial from https://stackoverflow.com/questions/21086385/how-to-make-in-css-an-overlay-over-an-image */
.imageHolder {
    position: relative;
    width: 300px;
    height: 300px;
}

.descBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: rgb(58, 52, 43, 30%);
    /* opacity: 30%; */
    /* filter: blur(5px); */
}

.descriptionText {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 240px;
    height: 240px;
    /* color: aliceblue; */
    filter: blur();
}

.likes {
    position: absolute;
    bottom: 0px;
    right: 15px;
    background-color: white;
    padding: 2.5px;
    border-radius: 30%;
}

.blurred {
    filter: blur(5px);
}